<div class="container">
    <div class="row" *ngIf="chartMode === ''">
        <div class="col col-md-12 text-center">
            <div class="alert alert-info">
                <h4 style="margin-top: 10px;">Please click on chart to get detailed view!!</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div [class]="'col col-md-4'">
            <canvas [height]="200" baseChart [data]="itemChartData" [labels]="itemChartLabels"
                [chartType]="pieChartType" [options]="itemChartOptions" [colors]="pieChartColors">
            </canvas>
        </div>
        <div [class]="'col col-md-4'">
            <canvas [height]="200" baseChart [title]="'Cost analysis'" [data]="personChartData"
                [labels]="personChartLabels" [chartType]="pieChartType" [colors]="pieChartColors"
                [options]="personChartOptions">
            </canvas>
        </div>
        <div [class]="'col col-md-4'">
            <router-outlet></router-outlet>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4 class="alert alert-danger" *ngIf="invalidDatesErrorFlag">{{error}}</h4>
            </div>
            <div class="form-group settings">
                <div class="settings">
                    <label style="padding-top: 8px;">From </label>
                    <input class="form-control" type="date" name="From" [(ngModel)]="transactionFromDate"
                        (ngModelChange)="getPreviousData()" placeholder="From" />
                </div>
                <div class="settings">
                    <label style="padding-top: 8px;">To </label>
                    <input class="form-control" type="date" name="To" [(ngModel)]="transactionToDate"
                        (ngModelChange)="getPreviousData()" placeholder="To" />
                </div>
            </div>

            <h4 *ngIf="lineChartData.length === 0" class="alert alert-danger">{{error}}</h4>
            <canvas [height]="100" [options]="lineChartOptions" baseChart
                [datasets]="lineChartData" [labels]="lineChartLabels" chartType="line">
            </canvas>

        </div>
    </div>

</div>