<div class="row">
    <div class="col col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf="error">
            <h5>{{error}}</h5>
        </div>
        <div class="alert alert-success" *ngIf="alert">
            <h5>{{alert}}</h5>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>Loading...
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading && !loginWithPhone">
            <div class="form-group" *ngIf="!isForgotPassword && !isLoginMode">
                <label for="user-name">Name</label>
                <input type="text" class="form-control" id="user-name" name="user-name" required #username='ngModel' ngModel>
                <div style="color: red" *ngIf="username.touched && username.errors?.required">This field can't be empty
                </div>
            </div>
            <div class="form-group" *ngIf="!isForgotPassword && !isLoginMode">
                <label for="phone">Phone number</label>
                <input type="text" class="form-control" id="phone" name="phone" required #phone='ngModel' ngModel pattern=^((\\+91-?)|0)?[0-9]{10}$>
                <div style="color: red" *ngIf="phone.touched && phone.errors?.required">This field can't be empty
                </div>
            </div>
            <div class="form-group" >
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" required email #email='ngModel' ngModel>
                <div style="color: red" *ngIf="email.touched && email.errors?.required">This field can't be empty
                </div>
            </div>
            <div class="form-group" *ngIf="!isForgotPassword">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required passwordLengthValidator
                    #password='ngModel'
                    ngModel>
                <div style="color: red" *ngIf="password.touched && password.errors?.required">This field can't be empty </div>
                <div style="color: red" *ngIf="password.touched && password.errors?.lengthLessThanSix">Length less than
                    six!!
                </div>
            </div>
            <div class="form-group" *ngIf="!isForgotPassword && !isLoginMode">
                <label for="repeat-password">Repeat password</label>
                <input type="password" class="form-control" id="repeat-password" name="repeat-password" required
                    passwordLMisMatchValidator #repeatPassword='ngModel' ngModel [disabled]="form.controls['password'].invalid">
                <div style="color: red" *ngIf="repeatPassword.touched && repeatPassword.errors?.required">This field can't be empty
                </div>
                <div style="color: red" *ngIf="repeatPassword.touched && repeatPassword.errors?.passwordMismatch">Password mismatch!!</div>
            </div>
           
            <div *ngIf="isLoginMode" style="margin-bottom: 10px;">
                <a class="reset" (click)="resetPassword()">Forgot Password?</a>
            </div>

            <div class="btn-toolbar" >
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">{{ isLoginMode ? 'Login' : (isForgotPassword ? 'Submit' : 'Sign Up') }}</button>
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()"> {{ isForgotPassword ? 'Cancel' : 'Switch to ' +
                    (
                    isLoginMode ? 'Sign up' : 'Login' ) }}</button>
            </div>
           
        </form>
        <!-- <div class="btn-toolbar" style="padding-top: 10px;" *ngIf="!isLoading">
            <button class="btn btn-primary" style="align-items: center;" (click)="signInWithPhone()" type="button" >Login with Phone</button>
             <app-phone-login-auth *ngIf="loginWithPhone"></app-phone-login-auth> 
        </div> -->
    </div>
            
</div>
