<div class="row">
    <div class="col col-xs-12 col-md-6 col-md-offset-3">
        <div [hidden]="user" style="text-align: center;">

            <h2>Sign in with your phone number</h2>
            <div style="padding-top: 10px;">
                <label for="phone">Phone Number: </label><br>
                <input type="text" style="margin-right: 10px;" [(ngModel)]="phoneNumber.country" 
                    placeholder="Enter your Country Code" maxlength="2" required>
                <input type="text" [(ngModel)]="phoneNumber.area"  placeholder="Please enter your Phone Number"
                    maxlength="10" required>
            </div>
           

            <div id="recaptcha-container" style="padding-left: 219px; padding-top: 10px;"></div>

            <div class="btn-toolbar" style="padding-left: 209px; padding-top: 10px;">
                <button class="btn btn-primary" type="submit" [disabled]="sendotpEnables" (click)="sendLoginCode()" id="recaptcha-container">
                    SMS Login Code</button>
            </div>
            <div *ngIf="windowRef.confirmationResult">
                <label for="code">Enter Your Verification Code Here</label>
                <input type="text" name="code" [(ngModel)]="verificationCode" class="input">
                <div class="btn-toolbar">
                    <button class="btn btn-primary" (click)="verifyLoginCode()">Verify</button>
                </div>

            </div>
        </div>
        <div *ngIf="user">
            you have successfully logged in with your phone number.
        </div>
        <div style="padding-left: 209px; padding-top: 10px;">
            <button class="btn btn-primary" type="submit" (click)="switchToPasswordAuth()">Cancel</button>
        </div>  
    </div>
</div>