<div class="container">
    <div class="row">
      <div class="col-md-12 pull-left" style="margin-top: 15px;">
        <h4 class="alert alert-danger" *ngIf="error">{{error}}</h4>
        <form (ngSubmit)="onSubmitDetails(form)" #form="ngForm" *ngIf="!error">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="date">Select Date</label>
              </div>
              <div class="col-md-5">
                <input class="form-control"
                type="date"
                name="date"
                id="date"
                ngModel
                required
                (ngModelChange)="onModelChange()">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="item">Select item</label>
              </div>
              <div class="col-md-5">
                <select class="form-control" name="item" ngModel="Vegetables" required (ngModelChange)="onModelChangeItemCombo(form)">
                  <option *ngFor="let item of itemCategories" [value]="item">{{item}}</option>
                </select>
              </div>
            </div>
          </div>
          
          <!-- <div class="form-group" *ngIf="itemType === 'Others'">
            <div class="row">
              <div class="col-md-2">
                <label for="details">Purchase Details</label>
              </div>
              <div class="col-md-5">
                <input class="form-control" type="text" name="details" ngModel required (ngModelChange)="onModelChange()">
              </div>
            </div>
          </div> -->
            
          <div class="form-group">
           <div class="row">
             <div class="col-md-2">
              <label for="amount">Enter cost</label>
             </div>
             <div class="col-md-5">
              <input type="number"
              name="amount"
              class="form-control"
              ngModel
              required
              pattern="[1-9]+[0-9]*"
              (ngModelChange)="onModelChange()">
             </div>
           </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <label for="person">Name of Person</label>
              </div>
              <div class="col-md-5">
                <select class="form-control"
                name="person"
                ngModel
                required
                (ngModelChange)="onModelChange()">
                  <option *ngFor="let person of persons"
                  [value]="person.name">{{person.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3 btn-toolbar">
              <button type="submit" class="btn btn-primary"
              [disabled]="!form.valid">{{ id ? 'Modify' : 'Submit'}}</button>
              <button type="button" 
              class="btn btn-warning" 
              (click)="resetForm(true)"
              [disabled]="!enableClear">Clear</button>
            </div>
            <div class="col-md-3">
              <span>
                <h4 *ngIf="isSuccess">{{id ? 'Data successfully modified!!' : 'Data successfully uploaded!!'}}</h4>
              </span>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>