.outer-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 75px);
}
.card-container {
    display: flex;
    align-content: baseline;
    justify-content: flex-start;
    width: 60%;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.group-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vert-line {
    height: auto;
    width: 0.5rem;
    border: 1px solid gray;
    background-color: gray;
}
.form-container {
    margin-left: 1rem;
    width: 35%;
}

