<div class="container-intro">
  <header>
    <h3>
      Welcome to household app!
      <button class="btn btn-explore" (click)="navigateToLogin()">Explore now</button>
    </h3>
  </header>
  <main class="app-summary">
    <h4>How it helps you?</h4>
    <summary>
      <p>Finanical management is an important aspect for every individual, here we makes it little easier for you!</p>
      <p>Using householdapp you can track your daily expenses and forget about manual complex calculations involved in settling your debts.</p>
      <p>It provides an easy way of storing all your daily expenses in a simple form which can be tracked using advanced data visualisation techiques.</p>
    </summary>
  </main>
  <main>
    <h3>Core features</h3>
    <ul>
      <li>
        Advanced data visualisation using charts and graphs
        <p> 
          <img class="chart-icon" src="../../assets/svg/pie-chart-svgrepo-com.svg" alt="pie chart" />
          <img class="chart-icon" src="../../assets/svg/line-chart-svgrepo-com.svg" alt="line chart" />
        </p>
      </li>
      <li>
        Simple user friendly interface
        <p> 
          <img class="chart-icon" src="../../assets/svg/web-ui-svgrepo-com.svg" alt="web ui" />
        </p>
      </li>
      <li>
        Easy way of calulating debts
        <p> 
          <img class="chart-icon" src="../../assets/svg/debt-svgrepo-com.svg" alt="multi person" />
        </p>
      </li>
      <li>
        Multi person transaction support
        <p> 
          <img class="chart-icon" src="../../assets/svg/users-svgrepo-com.svg" alt="multi person" />
        </p>
      </li>
    </ul>
  </main>
</div>