.create-group {
    border: 1px solid gray;
    width: 30rem;
    height: 15rem;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 2rem;
    margin-top: 2rem;
    color: white;
    background: gray;
}
.btn {
    border-radius: 5%;
    background-color: orangered;
    color: white;
    outline: none !important;
    border: none;
}
p {
    font-size: 2rem;
}

@media screen and (max-width: 420px) {
    p {
        font-size: 1.2rem;
    }
    .create-group {
        width: auto;
        height: auto;
    }
}