<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="'active'" *ngIf="!isAuthenticated">
                <a routerLink="auth">Authenticate</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated">
                <a  [routerLink]="['purchase-form']">Purchase Form</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated">
                <a [routerLink]="['purchase-details']">Purchase Details</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated">
                <a [routerLink]="['data-analysis']">Data Analysis</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated">
                <a style="cursor: pointer;" (click)="onLogOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>