<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="'active'" *ngIf="!isAuthenticated">
                <a routerLink="auth">Authenticate</a>
            </li>.
            <li [routerLinkActive]="'active'" *ngIf="!isAuthenticated">
                <a routerLink="phone-auth">Phone Authenticate</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated">
                <a [routerLink]="['groups-view']">Group view</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated && groupName">
                <a  [routerLink]="['purchase-form/' + groupName]">Purchase Form</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated && groupName">
                <a [routerLink]="['purchase-details/' + groupName]">Purchase Details</a>
            </li>
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated && groupName">
                <a [routerLink]="['data-analysis/' + groupName]">Data Analysis</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="'active'" *ngIf="isAuthenticated">
                <a style="cursor: pointer;" (click)="onLogOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>