<div class="row">
    <div class="col col-md-6">
        <form class="navbar-form navbar-left" #filterForm="ngForm" style="margin-left: -15px;">
            <div class="input-group">
                <select class="form-control" name="filterOptions" [ngModel]="'Date of Purchase'">
                    <option *ngFor="let item of filterOptions" [value]="item">{{item}}</option>
                </select>
                <div class="input-group-btn">
                    <!-- <ng-template #contentascend>
                        <div class="btn btn-primary"></div>
                    </ng-template> -->
                    <button class="btn btn-primary" [show-delay]="1000" autoPlacement="true" tooltip="filter ascend" (click)="filterAscend()">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <button class="btn btn-primary" [show-delay]="1000" autoPlacement="true" tooltip="filter descend" (click)="filterDescend()">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col col-md-6">
        <form class="navbar-form navbar-right">
            <div class="input-group">
                <input type="Search" 
                name="search" 
                placeholder="Search..." 
                class="form-control"
                [(ngModel)]="searchResult"
                (ngModelChange)="onModelChange()" />
                <div class="input-group-btn">
                    <button class="btn btn-primary" [show-delay]="1000" autoPlacement="true" tooltip="search" (click)="onSearch()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>